/*style sheet*/
/*
*By Slacken Zeng(xinkiang@gmail.com)
*http://www.creatist.cn
*/

.f{
	text-decoration:underline;
}
.u:after{
	content:"*";
}
.right{float:right;}
.clear{clear:both;}
body{
	background:url('images/texture.png') repeat;
	
}
body,pre,button,input{
	font-family:'Microsoft Yahei',Verdana,Arial,sans-serif;
	font-size:13px;
	line-height:20px;
}
body,dt,dd,dl,form{
	margin:0;
	border:none;
	padding:0;
}

#content,#jobdu_c,#hduoj_c{
	width:900px;
	margin:0 auto;
	background-color:white;
	margin-top:20px;
	padding-bottom:5px;
	line-height:20px;
}
#jobdu_c,#hduoj_c{
	border-radius:5px 10px;
	margin-bottom:20px;
	box-shadow:0px 0px 20px #aaf;
}
#hduoj_c{
	padding:5px;
}
.main-title-mod{
	
}
a{
	text-decoration:none;
	color:#1111AA;
}
a:hover{
	color:#aa0000;
}
b{
	font-size:1.2em;
}
.title-hd{
	background-color:blue;
	border-radius:5px 5px 0 0;
	color:white;
	font-size:16px;
	padding:8px 5px;
}
.title-hd a{
	color:#ccc;
	font-size:14px;
}
.title-hd a:hover{
	color:#fff;
}

.topic-desc-hd{
	background-color:#f4f4f4;
	padding:3px 5px;
}
.topic-desc-hd{
	height:45px;
}
.topic-desc-hd p{
	float:left;
	width:25%;
}
.topic-desc-bd{
	clear:both;
}
.topic-desc-bd p{
	font-size:12px;
}
.topic-desc-bd dt {
	background-color:blue;
	color:white;
	display:block;
}
.topic-desc-bd dt,.topic-desc-bd dd{
	padding:3px 5px;
}


#hduoj_c b{
	font-weight:normal;
	font-size:1em;
	display:block;
	padding:5px 3px;;
	background-color:#eee;
	border-radius:5px;
}
.panel_title{
	border-top:1px dashed #ddd;
}
.panel_bottom{
	display:none;
}


.link_i{
	border:1px solid #aaa;
	border-radius:0 0 3px 3px;
	background-color:white;
	padding:3px 0;
	-webkit-box-shadow:0 0 5px #ccc;
	-moz-box-shadow:0 0 5px #ccc;
	box-shadow:0 0 5px #ccc;
}
.link_i a{
	display:inline-block;
	width:42px;
	text-align:center;
	
}
.link_i a:visited{
	color:green;
	font-weight:bold;
}
.link_i a.k{
	color:red;
	font-size:1.2em;
}
#footer p{
	margin:0;
}
#footer input{
	width:50px;
	padding:1px 2px;
}

#footer button{
	padding:1px 2px;
	margin-left:10px;
	width:250px;
}
.download{
	font-size:0.9em;
	color:#666;
	text-align:right;
}